{{ define "content" }}
  <main class="section">
    <div class="container">
      <h1 class="title is-2">{{ .Title }}</h1>
      <h3 class="subtitle is-4">{{ .Params.subtitle | markdownify }}</h3>

      <div class="content">{{ .Content }}</div>

      <div class="columns is-multiline">
        {{ $data := index .Site.Data .Site.Language.Lang }}
        {{ range sort $data.projects.items "last_year" "desc" }}
          <div class="column is-half">
            <div class="media">
              <div class="media-left">
                <span class="icon is-large"><i class="fa fa-{{ .icon | default "book" }}"></i></span>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{.title }}</strong>
                    <br>
                    <small>
                      {{ if eq .init_year .last_year }}
                        {{ .last_year }}
                      {{ else }}
                        {{ .init_year }} &mdash; {{ .last_year }}
                      {{ end }}
                    </small>
                    <br>
                    <em>{{ .description | markdownify }}</em>
                  </p>
                </div>
              </div>
            </div>
          </div>
        {{ else }}
          <div class="content">{{ i18n "current-projects-empty" | markdownify }}</div>
        {{ end }}
      </div>
    </div>
  </main>
{{ end }}
