<div class="column is-one-third-tablet is-one-quarter-desktop">
  <div class="card is-fullwidth">
    <figure class="image is-1by1">
      <img src="/{{ .Page.Section }}/{{ .Params.slug }}.jpg">
    </figure>
    <div class="card-content">
      <div class="media-content">
        <a href="{{ .Permalink }}"><h3 class="title is-3">{{ .Title }}</h3></a>
        <p class="subtitle heading is-6"><small>{{ .Params.position }}</small></p>
        <p><span class="icon"><i class="fa fa-envelope-o"></i></span> <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></p>
      </div>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item" href="{{ .Permalink }}">{{ i18n "read-more" }}</a>
    </footer>
  </div>
</div>
