<div class="column is-one-third-tablet is-one-quarter-desktop">
  <a href="{{ .Permalink }}">
    <div class="card is-fullheight">
      <figure class="image is-1by1">
        <img src="/{{ .Page.Section }}/{{ .Params.slug }}.jpg">
      </figure>
      <div class="card-content">
        <div class="media-content">
          <a href="{{ .Permalink }}"><h3 class="title is-4">{{ .Title }}</h3></a>
          <p class="subtitle is-6"><em>{{ .Params.position }}</em></p>
          <p><span class="icon"><i class="fa fa-envelope-o"></i></span> <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></p>
        </div>
      </div>
    </div>
  </a>
</div>
