{{ define "content" }}
<main class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <figure class="image"><img src="/{{ .Page.Section }}/{{ .Params.slug }}.jpg"></figure>
        <p><span class="icon"><i class="fa fa-envelope-o"></i></span> <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></p>
        <p><span class="icon"><i class="fa fa-globe"></i></span> <a href="{{ .Params.website_url }}">{{ .Params.website_title }}</a></p>
      </div>
      <div class="column">
        <h1 class="title is-2">{{ .Title }}</h1>
        <h3 class="subtitle is-4">{{ .Params.position }}</h3>

        <div class="tags">
          {{ range .Params.interests }}
          <span class="tag is-warning"><i class="fa fa-tags"></i>&nbsp;{{ . }}</span>
          {{ end }}
        </div>

        <div class="columns">
          <div class="column">
            {{ if .Params.awards }}
              <h3 class="title is-4">
                {{ i18n "awards" }}
              </h3>
              <ul class="fa-ul">
                {{ range .Params.awards }}
                  <li><i class="fa-li fa fa-certificate"></i>{{ . | markdownify }}</li>
                {{ end }}
              </ul>
            {{ end }}
            <div class="columns">
              <div class="column">
                <h3 class="title is-4">
                  {{ i18n "education" }}
                </h3>
                <ul class="fa-ul">
                  {{ range .Params.education }}
                    <li><i class="fa-li fa fa-{{ .icon }}"></i><strong>{{ .year | markdownify }}</strong> &ndash; {{ .description | safeHTML }}</li>
                  {{ end }}
                </ul>
              </div>
              <div class="column">
                <h3 class="title is-4">{{ i18n "teaching" }}</h3>
                <div class="content" align="justify">{{ .Params.teaching | markdownify }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</main>

<section class="hero is-medium is-light">
  <div class="hero-body">
    <div class="container">
      <h3 class="title is-2">{{ i18n "projects" }}</h3>
      <div class="columns is-multiline">
        {{ $data := index .Site.Data .Site.Language.Lang }}
        {{ range sort $data.projects.items "last_year" "desc" }}
          {{ if in .partipiants $.Slug }}
            <div class="column is-half">
              <div class="card is-fullheight">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <span class="icon is-large"><i class="fa fa-{{ .icon | default "book" }}"></i></span>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>{{.title }}</strong>
                          <br>
                          <small>
                            {{ if eq .init_year .last_year }}
                              {{ .last_year }}
                            {{ else }}
                              {{ .init_year }} &mdash; {{ .last_year }}
                            {{ end }}
                          </small>
                          <br>
                          <em>{{ .description | markdownify }}</em>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
