{{ define "header" }}
<header class="hero is-fullheight is-primary">
  <div class="hero-head">
    {{ partial "navigation" . }}
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1 is-spaced">{{ .Site.Params.siteTitle | safeHTML }}</h1>
      <h2 class="subtitle is-4">{{ .Site.Params.siteSubsite | safeHTML }}</h2>
      <a class="button is-large is-info is-hidden-mobile" href="/contacts">
        <span class="icon">
          <i class="fa fa-paper-plane"></i>
        </span>
        <span>Contact Us</span>
      </a>
    </div>
  </div>
</header>
{{ end }}

{{ define "content" }}
  Hello there!
{{ end }}
